body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#themeToggle {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    border: 2px solid #5C6773;
    padding: 20px;
}

body.dark-theme {
    background-color: #282c34;
    color: white;
}

body.dark-theme .container {
    border-color: #999;
}
